aclocal.m4
autom4te.cache
autoregen.sh
config.*
configure
libtool
INSTALL
Makefile.in
Makefile
depcomp
install-sh
ltmain.sh
missing
stamp-*
my-plugin-*.tar.*
compile
build/
package/
*~

aclocal.m4
autom4te.cache
config.h
config.h.in
config.log
config.status
config.guess
config.sub
config.rpath
configure
gstreamer-libs-uninstalled*.pc
gstreamer-libs*.pc
gstreamer-play-uninstalled*.pc
gstreamer-play*.pc
libtool
stamp-h
stamp-h.in
stamp-h1
gst-element-check-*.m4
ltmain.sh
missing
mkinstalldirs
compile
install-sh
depcomp
autoregen.sh
ABOUT-NLS
/INSTALL
_stdint.h
gst-plugins-bad-*.tar.*

.deps
.libs
.dirstamp
*.lo
*.la
*.so
*.o
*~
/m4
Makefile.in
Makefile
*.gir
*.typelib
*.gc??

tmp-orc.c
gst*orc.h


Build
*.user
*.suo
*.ipch
*.sdf
*.opensdf
*.DS_Store

*.log
*.trs


